<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  	<add key="rtc_maxcards"        value="5"/>
  	<add key="rtc_configfile"      value="D:\Laserbohren\MicroLas.ini"/>
  	<add key="logfilepath"         value="D:\SELasertrimming"/>
  	<add key="logtype"             value="1"/>
  	<add key="tcpportno"           value="19553"/>
  </appSettings>
</configuration>
